---
---

<div class="mobile-preferences sl-flex">
  <a
    href="https://www.runpeppermint.com/dashboard"
    class="mobile-dashboard-link"
  >
    Dashboard
  </a>
</div>

<style>
  @layer starlight.core {
    .mobile-preferences {
      border-top: 1px solid var(--sl-color-gray-6);
      padding: 0.5rem 0;
      align-items: center;
    }
    .mobile-dashboard-link {
      display: inline-flex;
      align-items: center;
      padding: 0.5rem 1.25rem;
      background-color: var(--app-primary);
      color: #fff;
      border-radius: 0.25rem;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      white-space: nowrap;
      margin-block: 0.5rem;
    }
  }
</style>
